/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
}

nav ul{
    background-color: lightslategrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li{
    margin: 10px;
    list-style: none;/* remove bullet points */
}

main {
    background-color: turquoise;
    flex: 1; /* grow to fill available space */
}

footer {
    background-color: greenyellow;
}

 #logo {
    padding-top: 1.5vh;
    height: 5vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}
#tr10{
    background-color: red;
    border-collapse:collapse;
    padding: 10px;
    text-align: left;
}

#tr11{
    background-color: rgb(21, 226, 6);
    border-collapse:collapse;
    padding: 10px;
    text-align: left;
}


#cookiewall{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(17, 224, 103);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.redpage{
    display: none;
    text-align: center;
   color: white;
    background-color: red;
    padding: 20px;
}