#extra{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* maintain aspect ratio and cover the entire area */
    z-index: -1; /* place it behind other content */
    display: flex;
}


#peanut{
    position: absolute;
    top: 36vh;
    left: 110vh;
    transform: translate(-50%, -50%);
    width: 8vh;
    height: auto; 
    z-index: 2;
    display: flex;
}
#peanut2{
    position: absolute;
    top: 45vh;
    left: 110vh;
    transform: translate(-50%, -50%);
    width: 25vh;
    height: auto; 
    z-index: 2;
    display: flex;
    display: none;
}
#peanut3{
    position: absolute;
    top: 50vh;
    left: 110vh;
    transform: translate(-50%, -50%);
    width: 35vh;
    height: auto; 
    z-index: 2;
    display: flex;
    display: none;
}
#peanut4{
    position: absolute;
    top: 60vh;
    left: 110vh;
    transform: translate(-50%, -50%);
    width: 55vh;
    height: auto; 
    z-index: 2;
    display: flex;
    display: none;
}
#peanut5{
    position: absolute;
    top: 87vh;
    left: 108vh;
    transform: translate(-50%, -50%);
    width: 190vh;
    height: auto; 
    z-index: 2;
    display: flex;
    display: none;
}
#peanut6{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* maintain aspect ratio and cover the entire area */
    z-index: -1; /* place it behind other content */
    display: none;
}
#door{
    position: absolute;
    top: 36vh;
    left: 110.35vh;
    transform: translate(-50%, -50%);
    width: 7.5vh;
    height: auto; 
    z-index: 3;
}
#opendoor{
    position: absolute;
    top: 36vh;
    left: 110.35vh;
    transform: translate(-50%, -50%);
    width: 7.5vh;
    height: auto; 
    z-index: 2;
    display: block;
}
#achter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: black;
    display: flex;
}
#change{
    position: absolute;
    top: 350px;
    left: 300px;
    color: rgb(9, 255, 0);
    font-family: Arial, sans-serif;
    z-index: 6;
    display: flex;
}
#sound{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    display: block;
}

#sound2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8 ;
    display: block;
}
#sound4{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
#scp-text{
    position: absolute;
    top: 0;
    left: 1250px;
    width: 20%;
    height: 40%;
    z-index: 4;
    background-color: rgb(225, 255, 0);
    display: flex;
}
#scp173{
    position: absolute;
    top: 50px;
    left: 1280px;
    font-family: Arial, sans-serif;
    z-index: 5;
    color: black;
}
#nav{
    background-color: #5d6363;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10vw;
    height: 10vh;
    position: absolute;
    top: 20vh;
    display: none;
}
::-webkit-scrollbar{
    display: none;
}
body {
    overflow: hidden;
}
