/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
}

nav ul{
    background-color: lightslategrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li{
    margin: 10px;
    list-style: none;/* remove bullet points */
}

main {
    background-color: turquoise;
    flex: 1; /* grow to fill available space */
}

footer {
    background-color: greenyellow;
}

 #logo {
    padding-top: 1.5vh;
    height: 5vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}
#tr10{
    background-color: red;
    border-collapse:collapse;
    padding: 10px;
    text-align: left;
}